﻿.hover-i:hover {
    color: #000;
}

.titulo-area {
    margin-top: 0;
    padding-bottom: 5px;
    color: #000;
    border-bottom: 1px solid rgba(221, 221, 221, 0.50);
}

.btn-sair {
    padding-left:20px;
    width: 100%;
    border: 0;
    background: none;
    text-align: left;
}

    .btn-sair:focus {
        outline: none;
    }

.AlertaErro{
    padding:20px;
    background:#FFF;
}

.AlertaErro h4{
    font-size:22px;
    color:#ff0000;
}

.AlertaErro p{
    font-size:16px;
}

.AlertaErro span{
    font-size:14px;
}