﻿@{
	Layout = null;
	var facebook = new Core.Database.Text().Get(3);
	var youtube = new Core.Database.Text().Get(4);
	var instagram = new Core.Database.Text().Get(5);
}

<section class="upper-footer four-column-footer fleft" style="width:100%">
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 gray-text">
			<span class="bottom-margin-40 fleft">
				<img src="~/images/GaboardiLogoProvisoria.png" alt="Lawyer" />
			</span>
			<!--<div class="clear"></div>
			<p>Etiam venenatis, quavitaefaucibus pulvinar, diam felis bibenduigula, nec ultricies arcsem.</p>
			<p>OFFICE TIME</p>
			<p>Etiam venenatis, quavitaefaucibus pulvinar diam.</p>
			<p >MON - THU  10:00 AM to 6 PM
			   <br>FRI - SAT  10:00 AM to 2:00 PM.
			</p>
			<p></p>-->
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 gray-text">
			<!--<h3 class="opensans pad-10 bottom-margin-40">our <span class="opensanslight border-left color-light-gray">Attorneys</span></h3>
			<ul>
			   <li><a href=""><i class="fa fa-angle-right"></i>Jack Simmons</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Karen Dawson</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Michael Linden</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Helga Stevens</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Mark Thompson</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Frank Turner</a></li>
			   <li><a href=""><i class="fa fa-angle-right"></i>Scott Travis</a></li>
			</ul>-->
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 gray-text">
			@*<ul>
				   <li><a href=""><i class="fa fa-angle-right"></i>Serious Car Crash</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Brain Injury</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Truck Accidents</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Motorcycle Accident</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Wrongful Death</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Frank Turner</a></li>
				   <li><a href=""><i class="fa fa-angle-right"></i>Semi Truck Collision</a></li>
				</ul>*@
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 gray-text">
			<ul class="nav navbar-nav">
				<li>
					<a target="_blank" href="@facebook.link"><i class="fa fa-facebook-f"></i></a>
				</li>
				<li>
					<a target="_blank" href="@youtube.link"><i class="fa fa-youtube"></i></a>
				</li>
				<li>
					<a target="_blank" href="@instagram.link"><i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a target="_blank" href="#"><i class="fa fa-telegram"></i></a>
				</li>
			</ul>
			<a href="~/GA/FaleConosco"><h5 class="opensans pad-10 left-margin-40 text-center"><span class="opensanslight color-light-gray">Fale Conosco</span></h5></a>
			<!--<p>Etiam venenatis, quavitaefaucibus pulvinar diam.</p>
			<p><span class="square-icon"><i class="fa fa-map-marker"></i></span>PO Box 16122 Collins Street <br>
			   West Victoria 8007 Australia
			</p>
			<p><span class="square-icon"><i class="fa fa-phone"></i></span>+61 3 8376 6284 <br>
			   +61 3 8376 6284
			</p>
			<p><span class="square-icon"><i class="fa fa-envelope-o"></i></span>+61 3 8376 6284<br>
			   +61 3 8376 6284
			</p>-->
		</div>
	</div>
</div>
		</section>