﻿@{
	Layout = null;
	var facebook = new Core.Database.Text().Get(3);
	var youtube = new Core.Database.Text().Get(4);
	var instagram = new Core.Database.Text().Get(5);
}

<ul class="nav navbar-nav">
	<li>
		<a href="~/GA/Index">Sobre</a>
	</li>
	<li @*class="mega-menu"*@>
		<a href="~/GA/Mentorias">Mentorias</a>
		@*<ul class="dropdown-menu">
			<li>
				<a href="~/GA/MentoriaIndividualBrasil">Mentoria individual Brasil</a>
			</li>
			<li>
				<a href="~/GA/MentoriaIndividualExterior">Mentoria individual exterior</a>
			</li>
			<li>
				<a href="~/GA/MentoriaGrupo">Mentoria em grupo</a>
			</li>
		</ul>*@
	</li>
	<li>

		<a href="~/GA/Videos">Videos</a>
	</li>
	<li>
		<a href="~/GA/Cursos">Cursos</a>
	</li>
	<li>
		<a href="~/GA/MateriaisGratuitos">Materiais Gratuitos</a>
	</li>
	<li>
		<a target="_blank" href="@facebook.link"><i class="fa fa-facebook-f"></i></a>
	</li>
	<li>
		<a target="_blank" href="@youtube.link"><i class="fa fa-youtube"></i></a>
	</li>
	<li>
		<a target="_blank" href="@instagram.link"><i class="fa fa-instagram"></i></a>
	</li>
	<li>
		<a target="_blank" href="#"><i class="fa fa-telegram"></i></a>
	</li>
</ul>
