﻿
@{
	Layout = null;
	ViewBag.Title = "Materiais Gratuitos";
	var materialGratuito = new Core.Database.Text().Get(32);
	//var materialOne = new Core.Database.Text().Get(34);
	//var materialTwo = new Core.Database.Text().Get(35);
	//var materialThree = new Core.Database.Text().Get(36);
	//var materialFour = new Core.Database.Text().Get(37);
	var materiais = new Core.Database.Materials().GetByCondition("WHERE area = 2");
	var first = 0;
	if (materiais != null)
	{
		first =  materiais.Select(x => x.id).FirstOrDefault();
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Lawyer ? Multi-Purpose HTML Template" />
	<meta name="author" content="webvillee.com" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Materiais Gratuitos | Matheus Gaboardi</title>
	<link href='http://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
	<link href="~/Template/HTML/main.css" rel="stylesheet" />
	<script src="~/Template/HTML/assets/js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function redirecionar(link) {
			window.open("/arquivos/" + link);
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			document.getElementById("materialDesc").innerHTML = atob(document.getElementById("DescMaterial").value);
		});
	</script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TF3TVXR');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TF3TVXR');</script>
	<!-- End Google Tag Manager -->
</head>
<body id="topPage">
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '296504524413314');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" style="display:none"
			 src="https://www.facebook.com/tr?id=296504524413314&ev=PageView&noscript=1" />
	</noscript>
	<!-- End Facebook Pixel Code -->
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF3TVXR"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="preloader">
		<svg height="50" width="50" class="circular">
			<circle cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" class="path"></circle>
		</svg>
	</div>
	<div id="page">
		<header id="sticker" class="sticky-navigation">
			<div class="sticky-menu relative">
				<div class="navbar navbar-default navbar-bg-light" role="navigation">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="index.html">
										<img class="site_logo" alt="Site Logo" width="190" height="86" src="~/images/GaboardiLogoProvisoria.png" />
									</a>
								</div>
								<div class="navbar-collapse collapse">
									@Html.Partial("../GA/_Menu")
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="attorneys-all-main">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center pad-60">
						<h2 class="opensans lawyer-title">@materialGratuito.title</h2>
						<input type="hidden" id="DescMaterial" value="@materialGratuito.description" />
						<h4 class="opensans text-center subheadings" id="materialDesc"></h4>
					</div>
					@if (materiais != null)
					{
						<div role="tabpanel" class="all-vertical-tabs">
							<ul class="nav nav-tabs vertical-nav-tabs" role="tablist">
								@foreach (var item in materiais)
								{
									<li role="presentation" @(first == item.id ? "class=active" : "")><a href="#home-@item.id" @*aria-controls="home-@item.id"*@ role="tab" data-toggle="tab">@item.title</a></li>
								}
							</ul>
							<div class="tab-content vertical-tab-content">
								@foreach (var item in materiais)
								{
									<script type="text/javascript">
											$(document).ready(function () {
												document.getElementById("descText-@item.id").innerHTML = atob(document.getElementById("textDesc-@item.id").value);
											});
									</script>
									<div role="tabpanel" class="tab-pane @(first == item.id ? "active" : " ")" id="home-@item.id">
										<h4 class="opensans border-left-red">@item.title</h4>
										<input type="hidden" id="textDesc-@item.id" value="@item.description" />
										<p id="descText-@item.id"></p>
										@if (item.pdf != null & item.pdf != " ")
										{
											<div class="btn-box">
												<button onclick="redirecionar('@item.pdf')" class="btn-default light-button btn-block">Acessar</button>
											</div>
										}
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		@Html.Partial("../GA/_Footer")
	</div>
	<script src="~/Template/HTML/assets/js/jquery.js"></script>
	<script src="~/Template/HTML/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Template/HTML/assets/js/scroll.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/effect.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/menu/js/hover-dropdown-menu.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/menu/js/jquery.hover-dropdown-menu-addon.js"></script>
	<script src="~/Template/HTML/assets/js/globalize.min.js"></script>
	<script src="~/Template/HTML/assets/plugin/chart/js/dx.chartjs.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/revslider/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/revslider/js/jquery.themepunch.revolution.min.js"></script>
	<script src="~/Template/HTML/assets/plugin/owl-carousel/js/owl.carousel.js"></script>
	<script src="~/Template/HTML/assets/js/custom.js"></script>
</body>
</html>

