﻿
@{
	Layout = null;
	ViewBag.Title = "Mentorias";
	var start = new Core.Database.Text().Get(11);
	var video = new Core.Database.Text().Get(12);
	var firstD = new Core.Database.Text().Get(13);
	var secondD = new Core.Database.Text().Get(14);
	var DepoimentF = new Core.Database.Text().Get(15);
	var DepoimentS = new Core.Database.Text().Get(16);
	var DepoimentT = new Core.Database.Text().Get(17);
	var images = new Core.Database.Image().ListBrasil();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Lawyer ? Multi-Purpose HTML Template" />
	<meta name="author" content="webvillee.com" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="facebook-domain-verification" content="o0yx4xogv0v1zgvnyoaeqeot37xjqe" />
	<title>Mentorias | Matheus Gaboardi</title>
	<link href='http://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
	<link href="~/Template/HTML/main.css" rel="stylesheet" />
	<script src="~/Template/HTML/assets/js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function redirecionar(link) {
			window.open("/arquivos/" + link);
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			document.getElementById("textDepoimentF").innerHTML = atob(document.getElementById("DepoimentFText").value);
			document.getElementById("textDepoimentS").innerHTML = atob(document.getElementById("DepoimentSText").value);
			document.getElementById("textDepoimentT").innerHTML = atob(document.getElementById("DepoimentTText").value);
			document.getElementById("textStart").innerHTML = atob(document.getElementById("StartText").value);
		});
	</script>
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
	@*<style>
			/* Make the image fully responsive */
			.carousel-inner img {
				width: 100%;
				height: 100%;
			}/
		</style>*@
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TF3TVXR');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TF3TVXR');</script>
	<!-- End Google Tag Manager -->
</head>
<body id="topPage">
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '296504524413314');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" style="display:none"
			 src="https://www.facebook.com/tr?id=296504524413314&ev=PageView&noscript=1" />
	</noscript>
	<!-- End Facebook Pixel Code -->
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF3TVXR"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="preloader">
		<svg height="50" width="50" class="circular">
			<circle cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" class="path"></circle>
		</svg>
	</div>
	<div id="page">
		<header id="sticker" class="sticky-navigation">
			<div class="sticky-menu relative">
				<div class="navbar navbar-default navbar-bg-light" role="navigation">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="index.html">
										<img class="site_logo" alt="Site Logo" width="190" height="86" src="~/images/GaboardiLogoProvisoria.png" />
									</a>
								</div>
								<div class="navbar-collapse collapse">
									@Html.Partial("../GA/_Menu")
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="clear"></div>
		<section class="our-partners">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center pad-20">
						<h2 class="opensans lawyer-title text-center">@start.title</h2>
						<input type="hidden" id="StartText" value="@start.description" />
						<p id="textStart"></p>
					</div>
				</div>
			</div>
		</section>
		<section id="pricing" class="page-section">
			<div class="container">
				<div class="col-md-12 col-md-offset-0 text-center pad-60">
					<h2 class="opensans" style="color: #00ff21">
						<span style="color: #000000" class="opensanslight">Materiais para você baixar!</span>
					</h2>
				</div>
				<div class="row text-center">
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 ">
						<div class="pricing light-bg">
							<div style="height: 200px;">
								<center>
									<img style="height: 200px;" class="img-responsive" src="~/arquivos/@firstD.image" alt="" />
								</center>
							</div>
							<p>@firstD.title</p>
							<div class="btn-box">
								<button onclick="redirecionar('@firstD.pdf')" class="btn-default light-button btn-block">Download</button>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-0 "></div>
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 ">
						<div class="pricing light-bg">
							<div style="height: 200px;">
								<center>
									<img style="height: 200px;" class="img-responsive" src="~/arquivos/@secondD.image" alt="" />
								</center>
							</div>
							<p>@secondD.title</p>
							<div class="btn-box">
								<button onclick="redirecionar('@secondD.pdf')" class="btn-default light-button btn-block">Download</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section @*class="client-testimonials-main"*@>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="opensans lawyer-title"><span class="opensanslight">Depoimentos</span></h2>
					</div>
				</div>
			</div>
			<div class="client-testimonial-wrapper">
				<div class="container">
					<div class="row client-testimonial-row">
						<div class="col-md-12">
							<div id="owl-example2" class="owl-carousel">
								<div class="col-md-12 testimonail-content">
									<div class="client-details text-center">
										<div class="client-image">
											<img class="img-circle" src="~/arquivos/@DepoimentF.image" width="100" height="100" alt="">
										</div>
										<div class="topbottom-quotation quote">
											<input type="hidden" id="DepoimentFText" value="@DepoimentF.description" />
											<p class="small-text" id="textDepoimentF"></p>
										</div>
										<div class="client-details">
											<strong class="text-color" style="color: black;">@DepoimentF.title</strong>
										</div>
									</div>
								</div>
								<div class="col-md-12 testimonail-content">
									<div class="client-details text-center">
										<div class="client-image">
											<img class="img-circle" src="~/arquivos/@DepoimentS.image" width="100" height="100" alt="">
										</div>
										<div class="topbottom-quotation quote">
											<input type="hidden" id="DepoimentSText" value="@DepoimentS.description" />
											<p class="small-text" id="textDepoimentS"></p>
										</div>
										<div class="client-details">
											<strong class="text-color" style="color: black;">@DepoimentS.title</strong>
										</div>
									</div>
								</div>
								<div class="col-md-12 testimonail-content">
									<div class="client-details text-center">
										<div class="client-image">
											<img class="img-circle" src="~/arquivos/@DepoimentT.image" width="100" height="100" alt="">
										</div>
										<div class="topbottom-quotation quote">
											<input type="hidden" id="DepoimentTText" value="@DepoimentT.description" />
											<p class="small-text" id="textDepoimentT"></p>
										</div>
										<div class="client-details">
											<strong class="text-color" style="color: black;">@DepoimentT.title</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section-background section-background-white"></div>
			</div>
		</section>
		<div @*class="container-fluid who-we-are"*@>
			<div class="row">
				<div class="container who-we-are">
					<div class="row blog-grid-row">
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 no-pad text-center blog-grid-image">
							<div class="image-bg" style="margin-top: 10%;">
								<iframe width="560" height="315" src="@video.link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 pad-60 blog-full-content padding-leftright-0 blog-grid-content">
							<div class="col-sm-12 col-md-9 pad-30 right-blog-content">
								<div class="col-xs-12 col-sm-12 col-md-3 meta-info">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-9 border-left blog-content">
									<h2 class="opensans">@video.title</h2>
									<p>
										@*@if (video.description != "") {
												Html.Raw(video.description.Replace(Environment.NewLine, "<br>"));
											}*@
										@Html.Raw(video.description != "" && video.description != null ? video.description.Replace(Environment.NewLine, "<br>") : "")
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<section class="our-partners" style="margin-bottom:5%; margin-top: -5%;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<center>
							<h2>Mentorias</h2>
						</center>
					</div>
					<div class="col-4 col-lg-offset-4">
						<div id="demo" class="carousel slide" data-ride="carousel">
							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								@for (var x = 1; x < images.Count; x++)
								{
									<li data-target="#demo" data-slide-to="@x"></li>
								}
							</ul>
							<div class="carousel-inner">
								@foreach (var item in images)
								{
									if (item.id == images.First().id)
									{
										<div class="carousel-item active">
											<img class="center" src="http://gaboardi.rdevit.com/arquivos/@item.image" alt="@item.area" width="1100" height="500">
										</div>
									}
									else
									{
										<div class="carousel-item">
											<img class="center" src="http://gaboardi.rdevit.com/arquivos/@item.image" alt="@item.area" width="1100" height="500">
										</div>
									}
								}-->
		@*<div class="carousel-item">
				<img src="chicago.jpg" alt="Chicago" width="1100" height="500">
				<div class="carousel-caption">
					<h3>Chicago</h3>
					<p>Thank you, Chicago!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="ny.jpg" alt="New York" width="1100" height="500">
				<div class="carousel-caption">
					<h3>New York</h3>
					<p>We love the Big Apple!</p>
				</div>
			</div>*@
		<!--</div>
							<a class="carousel-control-prev" href="#demo" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#demo" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>-->
		@Html.Partial("../GA/_Footer")
	</div>
	<script src="~/Template/HTML/assets/js/jquery.js"></script>
	<script src="~/Template/HTML/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Template/HTML/assets/js/scroll.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/js/effect.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/menu/js/hover-dropdown-menu.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/menu/js/jquery.hover-dropdown-menu-addon.js"></script>
	<script src="~/Template/HTML/assets/js/globalize.min.js"></script>
	<script src="~/Template/HTML/assets/plugin/chart/js/dx.chartjs.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/revslider/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="~/Template/HTML/assets/plugin/revslider/js/jquery.themepunch.revolution.min.js"></script>
	<script src="~/Template/HTML/assets/plugin/owl-carousel/js/owl.carousel.js"></script>
	<script src="~/Template/HTML/assets/js/custom.js"></script>
</body>
</html>


