﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var obj = ViewData["obj"] as Core.Database.Courses;
	var objs = ViewData["objs"] as List<Core.Database.Courses>;
}

<!DOCTYPE html>
<title>@ViewBag.Title</title>
<div class="content">
	<div class="animated fadeIn">
		<div class="breadcrumbs">
			<div class="breadcrumbs-inner">
				<div class="row m-0">
					<div class="col-sm-4">
						<div class="page-header float-left">
							<div class="page-title">
								<h1>@ViewBag.Title</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="box-body">
	<form id="form-area" style="display:@(obj == null ? "none" :"block")">
		<div class="col-lg-4">
			<h2>@ViewData["location"]</h2>
			<div class="card-body card-block">
				<input type="hidden" id="id" name="id" value="@(obj != null? obj.id.ToString():"")" />
				<input type="hidden" id="isInsert" name="isInsert" value="@(obj == null? "True" : obj.id == 0? "True":"False" )" />
				<input type="hidden" id="isDelete" name="isDelete" value="False" />
				<div class="form-group">
					<label class="form-control-label">Título</label>
					<input type="text" id="title" name="title" value="@(obj != null? obj.title:"")" class="form-control ">
				</div>

				@*<div class="form-group">
					<label class="form-control-label">Descrição</label>
					<textarea class="form-control" style="height: 250px !important;" name="description">@(obj != null? obj.description:"")</textarea>
				</div>*@
				<div class="form-group">
					<label class="form-control-label">Descrição</label>
					<textarea id="basic-example" class="form-control"></textarea>
					<input type="hidden" id="descriptionInput" name="description" value="@(obj != null? obj.description:"")" />
				</div>

				<div class="form-group">
					<label class="form-control-label">Link <b>(se houver)</b></label>
					<input type="text" id="link" name="link" value="@(obj != null? obj.link:"")" class="form-control">
				</div>

				<button onclick="sendForm(1)" class="btn btn-actions btn-block btn-success">Enviar</button>
				<button onclick="sendForm(2)" class="btn btn-actions btn-block btn-danger">Deletar</button>
				<a href="/@ViewData["route"]" class="btn btn-actions btn-block btn-primary">Cancelar</a>
			</div>
		</div>
	</form>
	@if (obj == null && objs.Any() == false)
	{
		<button class="btn-add-new">Inserir Novo Registro</button>
		<br />
		<h5 style="margin-top: 150px !important; margin-left: 220px;">Nenhum registro cadastrado</h5>
	}
	@if (objs != null && objs.Any())
	{
		<div id="list-area">
			<button class="btn-add-new">Inserir Novo Registro</button>
			<table class="table table-condensed table-striped custom-table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Página</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var Item in objs)
					{
						<tr>
							<td>@Item.id</td>
							<td>@Item.title</td>
							<td><a href="/@ViewData["route"]?objId=@Item.id"><i class="fa fa-edit"></i></a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
</div>
