﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var obj = ViewData["obj"] as Core.Database.Image;
	var objs = ViewData["objs"] as List<Core.Database.Image>;
}

<!DOCTYPE html>
<title>@ViewBag.Title</title>
<div class="content">
	<div class="animated fadeIn">
		<div class="breadcrumbs">
			<div class="breadcrumbs-inner">
				<div class="row m-0">
					<div class="col-sm-4">
						<div class="page-header float-left">
							<div class="page-title">
								<h1>@ViewBag.Title</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="box-body">
	<form id="form-area" style="display:@(obj == null ? "none" :"block")">
		<div class="col-lg-4">
			<h2>@ViewData["location"]</h2>
			<div class="card-body card-block">
				<input type="hidden" id="id" name="id" value="@(obj != null? obj.id.ToString():"")" />
				<input type="hidden" id="isInsert" name="isInsert" value="@(obj == null? "True" : obj.id == 0? "True":"False" )" />
				<input type="hidden" id="isDelete" name="isDelete" value="False" />
				<div class="form-group">
					<label class="form-control-label">Área</label>
					<input value="@(obj != null? obj.area:"")" class="form-control required" disabled />
					<input type="hidden" id="areaName" name="area" value="@(obj != null? obj.area:"")" class="form-control required" />
				</div>

				<div class="form-group">
					<input type="hidden" name="image" id="image" class="imgModel" value="@(obj != null? obj.image:"")" />
					<div class="editor-field">
						<label>Imagem</label>
						@if (obj != null && obj.image != null)
						{
							<br />
							<div style="background:#DDD">
								<img src="~/arquivos/@obj.image" style="max-height:100px" />
							</div>
						}
						<br />
						<input type="file" name="imageFileInput" id="imageFileInput" />
					</div>
				</div>

				<button onclick="sendForm(1)" class="btn btn-actions btn-block btn-success">Enviar</button>
				<a href="/@ViewData["route"]" class="btn btn-actions btn-block btn-primary">Cancelar</a>
			</div>
		</div>
	</form>
	@if (obj == null && objs.Any() == false)
	{
		<h5 style="margin-top: 115px !important; margin-left: 220px;">Nenhum registro cadastrado</h5>
	}
	@if (objs != null && objs.Any())
	{
		<div id="list-area">
			<table class="table table-condensed table-striped custom-table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Página</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var Item in objs)
					{
						<tr>
							<td>@Item.id</td>
							<td>@Item.area</td>
							<td><a href="/@ViewData["route"]?objId=@Item.id"><i class="fa fa-edit"></i></a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
</div>
