﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/assets/login/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/assets/login/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/assets/login/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/assets/login/css/theme-default/material-design-iconic-font.min.css?1421434286" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/login/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/assets/login/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>

<body class="menubar-hoverable header-fixed ">

    <section class="section-account">
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="col-lg-12" style="background:#FFF;padding:30px;margin-top:150px">
                            <span class="text-lg text-bold text-primary">CMS</span>
                            <br /><br />
                            <form action="/Home/Login" method="post">
                                <div class="form floating-label">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Login" name="user">
                                        <label for="username">Usuário</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="Senha" name="pass">
                                        <label for="password">Senha</label>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-6 text-right">
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/login/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/assets/login/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/login/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/login/js/libs/spin.js/spin.min.js"></script>
    <script src="/assets/login/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/login/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/assets/login/js/core/source/App.js"></script>
    <script src="/assets/login/js/core/source/AppNavigation.js"></script>
    <script src="/assets/login/js/core/source/AppOffcanvas.js"></script>
    <script src="/assets/login/js/core/source/AppCard.js"></script>
    <script src="/assets/login/js/core/source/AppForm.js"></script>
    <script src="/assets/login/js/core/source/AppNavSearch.js"></script>
    <script src="/assets/login/js/core/source/AppVendor.js"></script>
    <script src="/assets/login/js/core/demo/Demo.js"></script>

</body>
</html>
